td {
    margin: 10px;

}
table {
    font-size: 18px;
    table-layout: fixed;
    
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.livedate {
    position: absolute;
    top: 0;
    left: 0;
}

.title .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(0, 175, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }

.title {
    position: relative;
    display: inline-block;

}

.title:hover .tooltiptext {
    visibility: visible;
  }
