
<div class="justify-content-center">

    <!-- Wait for the data to complete before rendering -->
    <div *ngIf="tasks" style="text-align: center;" class="col-sm-6" >
       
    <h1>Todo List</h1>

    <!-- Input box -->
    



    <input 
            class="form-control" 
            type="text" 
            [formControl]="newTodo"
            (keyup.enter)="addTask()" 
            placeholder="Add new Task (Hit 'Enter' to submit)">
    
                
    <table class="table table-stripped" style="text-align: center;">  
        <tr>
            <th scope="col">
                <select class="btn btn-secondary dropdown-toggle" [(ngModel)]="filterId" (change)="selectedTask()" required>
                        <option selected>All</option>
                        <option >Active</option>
                        <option >Done</option>
                </select>
            </th>
            <th scope="col">Status</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Date Added</th>
        </tr>

        <!-- Load the items in the list  -->
            <tr *ngFor="let jsonData of tasks | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                <ng-container *ngIf= "jsonData.status === filterStatus || filterStatus === null ">
            <td>
                <button class="close" (click)="deleteTask(jsonData.id)" style="float: none;" >
                    <span aria-hidden="true">&times;</span>
                </button>  
            </td>
                
            <td>                      
                <button 
                type="button"                 
                class="btn"
                [class.btn-danger]="jsonData.status==true"
                [class.btn-success]="jsonData.status==false"
                (click)="updateTaskStatus(jsonData.id, jsonData.status, jsonData.title, jsonData.date)"
                >{{jsonData.status? "ACTIVE" : "DONE" }}</button>
                </td>
            <td>{{ jsonData.id }}</td>
            <td *ngIf="editId == jsonData.id">
                    
                    <input 
                        class="form-control" 
                        type="text" 
                        [formControl] = "updateTodo" 
                        (keyup.enter)="updateTask(jsonData.id,jsonData.status, jsonData.date)" 
                        (keyup.escape)="edittableTask(!jsonData.id)"
                        (blur)="edittableTask(!jsonData.id)"
                        [placeholder]="jsonData.title "
                        autofocus>
                    
                    </td>
                    
            <td *ngIf="editId != jsonData.id" (dblclick)="edittableTask(jsonData.id)">
                
                    <div class="title">{{ jsonData.title }}
                            <span class="tooltiptext">Double click to edit</span>
                    </div>
                
            </td>
            <td>{{ jsonData.date }} </td>
            
                </ng-container>
            </tr>
    </table>

    <!-- Pagination -->
    <div class="justify-content-center">
        <ngb-pagination [collectionSize]="(tasks)?.length" [(page)]="page" [pageSize]="pageSize" aria-label="Default pagination"></ngb-pagination>
    </div>


        </div>
    </div>


<div *ngIf="messageStatus === true">
    <app-message-alert [messageType]="messageType" [message]="message"></app-message-alert>
</div>

<!-- Date -->
<div class="livedate">
{{ dateLive }}
</div>

