td {
    margin: 10px;

}
table {
    font-size: 18px;
    table-layout: fixed;
    
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.livedate {
    position: absolute;
    top: 0;
    left: 0;
}

